{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'img/icono.png' %}">
    <title>{% block title %}Veranum Hoteles{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/fb20c1918d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <!-- <script src="{% static 'script.js' %}"></script> -->
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <header>
        {% block header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'buscar_habitaciones' %}">
                <table class="tabla-empresa">
                    <tr>
                        <td>
                            <img class="foto-icono" src="{% static 'img/icono.png' %}" alt="Icono de la empresa">
                        </td>
                        <td>eranum Hotel</td>
                    </tr>
                </table>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% block navbar %}
            
                {% endblock %}
                <ul class="navbar-nav ml-auto login">
                    {% if user.is_authenticated %}
            
                    <li class="nav-item btn-user">
                        <a class="btn btn-link nav-link" href="{% url 'perfil' %}">{{ user.username }}</a>
                    </li>
            
                    <li class="nav-item btn-sesion">
                        <button class="btn btn-link nav-link" data-toggle="modal" data-target="#confirmarModal">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesión
                        </button>
                    </li>
                </ul>
            </div>
            
            <!-- Modal de confirmación -->
            <div class="modal fade" id="confirmarModal" tabindex="-1" role="dialog" aria-labelledby="confirmarModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmarModalLabel">Confirmación de cierre de sesión</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro de que desea cerrar sesión?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Sí, cerrar sesión</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <li class="nav-item btn-sesion">
                <a class="btn btn-link nav-link" href="{% url 'iniciar_sesion' %}"><i
                        class="bi bi-person"></i>&nbsp;Iniciar sesión</a>
            </li>
            </div>
            {% endif %}
            </ul>
            </div>

        </nav>
        {% endblock %}
        {% if user.is_staff %}
        {% block empleado %}
        {% endblock %}

        {% endif %}
    </header>
    <div class="container">
        {% block content %}
        {% endblock %}

    </div>
     

    <footer>
        <p>© 2023 Veranum Hotel. Todos los derechos reservados.</p>
    </footer>
</body>

</html>