{% extends 'base.html' %}

{% block navbar %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'buscar_habitaciones' %}">Inicio</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'servicios' %}">Servicios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'acerca_de' %}">Acerca de</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contacto' %}"">Contacto</a>
    </li>
</ul>
{% endblock %}
{% block empleado %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Controles del empleado | Servicios</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#employeeNavbar" aria-controls="employeeNavbar" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="employeeNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#agregarModal">Agregar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#modificarModal">Modificar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#desactivarModal">Desactivar</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Modales -->
<div class="modal fade" id="agregarModal" tabindex="-1" role="dialog" aria-labelledby="agregarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarModalLabel">Agregar Subservicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'crear_subservicio' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row mb-2 ">
                            <input class="form-control col-md-12" type="text" name="nombre"
                                placeholder="Nombre del servicio...">
                        </div>
                        <div class="row mb-2 ">
                            <textarea class="form-control" name="descripcion"
                                placeholder="Descripción del servicio..."></textarea>
                        </div>
                        <div class="row mb-2 ">
                            <div class="col-md-3"><label class="col-form-label" for="horarioApertura">Apertura: </label>
                            </div>
                            <input class="form-control col-md-9" type="time" name="horarioApertura">
                        </div>
                        <div class="row mb-2 ">
                            <div class="col-md-3"><label class="col-form-label" for="horarioCierre">Cierre: </label>
                            </div>
                            <input class="form-control col-md-9" type="time" name="horarioCierre">
                        </div>

                        <div class="row mb-2">
                            <select class="form-control" name="servicio">
                                <option value="0">Seleccione un servicio...</option>
                                {% for servicio in servicios %}
                                <option value="{{ servicio.idServicio}}">{{servicio.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <input type="file" id="fileInput" name="imagen">
                        <label for="fileInput" class="custom-file-upload" onchange="updateFileName"></label>

                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            </form>
        </div>


    </div>
</div>
</div>

<div class="modal fade" id="modificarModal" tabindex="-1" role="dialog" aria-labelledby="modificarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modificarModalLabel">Modificar Subservicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="container">
                        <div class="row">
                            <input type="text" name="nombre">

                        </div>
                        <div class="row">
                            <textarea name="descripcion"></textarea>

                        </div>
                        <div class="row">
                            <input type="time" name="horarioApertura">

                        </div>
                        <div class="row">
                            <input type="time" name="horarioCierre">

                        </div>
                        <div class="row">

                            <select name="servicio">...</select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="desactivarModal" tabindex="-1" role="dialog" aria-labelledby="desactivarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="desactivarModalLabel">Desactivar Subservicio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" name="nombre">
                <textarea name="descripcion"></textarea>
                <input type="time" name="horarioApertura">
                <input type="time" name="horarioCierre">
                <select name="servicio">...</select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block content %}

<h1>Servicios</h1>
<div class="accordion" id="accordionServicios">
    {% for servicio in servicios %}
    <div class="card">
        <div class="card-header" id="heading{{ servicio.idServicio }}">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapse{{ servicio.idServicio }}" aria-expanded="true"
                    aria-controls="collapse{{ servicio.idServicio }}">
                    <i class="bi bi-caret-down-fill"></i>
                    {{ servicio.nombre }}
                    </a>
            </h2>
        </div>
        <div id="collapse{{ servicio.idServicio }}" class="collapse" aria-labelledby="heading{{ servicio.idServicio }}"
            data-parent="#accordionServicios">
            <div class="card-body">
                <ul>
                    {% for subservicio in servicio.subservicio_set.all %}
                    <div class="media">
                        <img src="{{ subservicio.imagen.url }}" class="mr-3" alt="Imagen del subservicio">
                        <div class="media-body">
                            <h3> {{ subservicio.nombre }}</h3>
                            <p>{{ subservicio.descripcion }}</p>
                            <table>
                                <tr>
                                    <th>
                                        <h5><i class="bi bi-clock"></i> Horarios</h5>
                                    </th>
                                    <hr>
                                </tr>
                                <tr>
                                    <td class="horario">
                                        <p>Apertura:</p>
                                    </td>
                                    <td class="abierto24">
                                        {% if subservicio.horarioApertura == subservicio.horarioCierre %}
                                        <p>Abierto las 24 horas</p>
                                        {% else %}
                                        <p>{{ subservicio.horarioApertura }}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="horario">
                                        <p>Cierre: </p>
                                    </td>
                                    <td class="abierto24">
                                        <p>{{ subservicio.horarioCierre }}</p>
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
<script>
    $(document).ready(function () {
        // Obtener el valor del parámetro de la URL
        var urlParams = new URLSearchParams(window.location.search);
        var reservaNotificacion = urlParams.get('notificacion');

        // Mostrar la notificación correspondiente
        if (reservaNotificacion === 'exitosa') {
            swal("¡Reserva exitosa!", "Tu reserva ha sido realizada correctamente.", "success");
        } else if (reservaNotificacion === 'error') {
            swal("¡Error!", "Ha ocurrido un problema al realizar la reserva.", "error");
        }
    });
    function updateFileName(input) {
        var fileName = input.files[0].name;
        var fileNameLabel = document.getElementById("fileNameLabel");
        fileNameLabel.innerText = fileName;
    }
</script>